<!DOCTYPE html>
<html>

<head>
  <title>LoginApp</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Friends</a>
    <ul class="nav navbar-nav">
      {{#if user}}
      <li class="nav-item">
        Welcome {{user.firstname}} {{user.lastname}}
      </li>

      <li class="nav-item pull-xs-right">
        <a class="nav-link" href="/users/logout"> Logout </a>
      </li>
      {{#if notification}}
      <li class="nav-item pull-xs-right">
        <a href="/notification" class="nav-link">
          <span class="badge badge-danger">{{notification.length}} notifications</span>
        </a>
      </li>
      {{/if}} {{else}}
      <li class="nav-item pull-xs-right">
        <a class="nav-link" href="/users/login"> Login  </a>
      </li>
      <li class="nav-item pull-xs-right">
        <a class="nav-link" style="padding-right:10px" href="/users/register"> Register</a>
      </li>
      {{/if}}
    </ul>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}} {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}} {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}} {{{body}}}
      </div>
    </div>
  </div>
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
</body>

</html>